body *
  box-sizing: border-box

.content
  background: $grayLight
  padding-top: 55px
  height: auto
  width: 100%
  @media (min-width: 1024px)
    height: 93vh

  > .container
      display: block
      height: 100%
      min-height: 100%
      padding: 20px
      width: 100%
