<article class="card-weather">

  <header-card title="{{$ctrl.city}}, {{$ctrl.country | uppercase}}"></header-card>

  <section class="card-view-data" ng-if="!$ctrl.showError && !$ctrl.showLoad">
    <temperature-card value="{{$ctrl.metrics.temperature}}"></temperature-card>
    <footer-card humidity="{{$ctrl.metrics.humidity}}" last-update="{{$ctrl.metrics.lastUpdate}}" pressure="{{$ctrl.metrics.pressure}}" view-data="$ctrl.visibleMetrics"></footer-card>
  </section>

  <load-card visible="$ctrl.showLoad"></load-card>

  <error-card on-refresh="$ctrl.reload()" visible="$ctrl.showError"></error-card>

</article>
