<footer class="footer-card">
  <div class="row">
    <div class="col" ng-show="$ctrl.viewData">
        <p class="title">HUMIDITY</p>
        <p class="data-info">
            {{$ctrl.humidity}}<small class="small-text">%</small>
        </p>
    </div>
    <div class="col" ng-show="$ctrl.viewData">
        <p class="title">PRESSURE</p>
        <p class="data-info">
          {{$ctrl.pressure}}<small class="small-text">hpa</small>
        </p>
    </div>
  </div>
  <p class="last-update">updated at {{$ctrl.lastUpdate}}</p>
</footer>
